{% extends 'base/base.html' %}
{% load static %}


{% block title %}
    | S'inscrire
{% endblock title %}



{% block content %}



        <!-- MAIN SECTION -->
        <main>
            <div class="container">
                <div class="wrapper login-wrapper">
                    <div class="login">
                        <div class="content-heading">
                            <div class="y-style">
                                <div class="logo"><a href=""><span></span></a></div>
                                <div class="welcome">
                                    <h2 class="loging">S'inscrire</h2>
                                    <p></p>
                                </div>
                            </div>
                        </div>

                        <div class="content-form">
                            <div class="y-style">
                                <form action="#">
                                    <p>
                                        <label for="username">Nom d'utilisateur</label>
                                        <input type="text" name="username" id="username" required placeholder="Nom d'utilisateur">
                                    </p>
                                    <p>
                                        <label for="email">Adresse email</label>
                                        <input type="email" name="email" id="email" required placeholder="Votre adresse email">
                                    </p>
                                    <p>
                                        <label for="password">Mot de passe</label>
                                        <input type="password" name="password" id="password" required placeholder="Votre mot de passe">
                                    </p>
                                    <!-- <p class="check">
                                        <input type="checkbox" name="checkbox" id="remember">
                                        <label for="remember">Se souvenir de moi</label>
                                    </p> -->
                                    <p>
                                        <button type="submit" class="primary-button">S'inscrire</button>
                                    </p>
                                </form>

                                <div class="afterform">
                                    <p>Avez-vous déjà un compte ?</p>
                                    <a href="{% url 'accounts:login' %}" class="t-signup">Se connecter</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </main>
        <!-- MAIN SECTION -->


    
{% endblock content %}
    
    