{% load static %}

<footer>
    <!-- NEWSLETTER -->
    <div class="newsletter ">
        <div class="container ">
            <div class="wrapper ">
                <div class="box ">
                    <div class="content ">
                        <h3>Newsletter</h3>
                        <p>s'inscrire à la newsletter pour être notifé de nos derniers articles et <strong>offres spéciales</strong></p>
                    </div>
                    <form action=" " class="search " method="POST ">

                        <!-- <span class="icon-large "><i class="ri-mail-line "></i></span> -->
                        <input type="email " name="email " id="email " placeholder="Votre adresse email " required>
                        <button type="submit ">S'inscrire</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- FIN NEWSLETTER -->

    <div class="widgets ">
        <div class="container ">
            <div class="wrapper ">
                <div class="flexwrap ">
                    <div class="row ">
                        <div class="item mini-links ">
                            <h4>Aide & Contact</h4>
                            <ul class="flexcol ">
                                <li>
                                    <a href="./login.html">Mon compte</a>
                                </li>
                                <li>
                                    <a href=" ">Mes commandes</a>
                                </li>
                                <li>
                                    <a href=" ">Retour</a>
                                </li>
                                <li>
                                    <a href=" ">Aide</a>
                                </li>
                                <li>
                                    <a href=" ">Nous contactez</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="row ">
                        <div class="item mini-links ">
                            <h4>Catégories</h4>
                            <ul class="flexcol ">
                                <li>
                                    <a href=" ">Beauté</a>
                                </li>
                                <li>
                                    <a href=" ">Electronique</a>
                                </li>
                                <li>
                                    <a href=" ">Sport</a>
                                </li>
                                <li>
                                    <a href=" ">Education</a>
                                </li>
                                <li>
                                    <a href=" ">Ameublement</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="row ">
                        <div class="item mini-links ">
                            <h4>À propos </h4>
                            <ul class="flexcol ">
                                <li>
                                    <a href=" ">Informations</a>
                                </li>
                                <li>
                                    <a href=" ">Politique de retour</a>
                                </li>
                                <li>
                                    <a href=" "></a>
                                </li>
                                <li>
                                    <a href=" "></a>
                                </li>
                                <li>
                                    <a href=" "></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="row ">
                        <div class="item mini-links ">
                            <h4>Compte</h4>
                            <ul class="flexcol ">
                                <li>
                                    <a href="./login.html">Mon compte</a>
                                </li>
                                <li>
                                    <a href=" ">Suivre ma commande</a>
                                </li>
                                <li>
                                    <a href=" ">Retour</a>
                                </li>
                                <li>
                                    <a href=" ">Liste de souhait</a>
                                </li>
                                <li>
                                    <a href=" ">FAQ</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <hr>
    <!-- FOOTER INFO -->
    <div class="footer-info ">
        <div class="container ">
            <div class="wrapper ">
                <div class="flexcol " style="display: none; ">
                    <div class="logo "><a href="./index.html">Makeety<span class="circle "></span></a></div>

                    <div class="socials ">
                        <ul class="flexitem ">
                            <li><i class="ri-twitter-line "></i></li>
                            <li><i class="ri-facebook-line "></i></li>
                            <li><i class="ri-instagram-line "></i></li>
                            <li><i class="ri-youtube-line "></i></li>
                        </ul>
                    </div>
                </div>

                <p class="mini-text ">Copyright &copy; {% now 'Y' %}</p>
            </div>
        </div>
    </div>

</footer>